
/* Universal styling starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}
/* Universal styling ends */
/* Header styling starts */
/* Using flexbox property here to flex-wrap, h1 */
header {
    background-color: #36454f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #7fffd4;
}

header a {
    color: #7fffd4;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

/* Using flexbox property here to flex-wrap, nav ul*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background-color: #7fffd4;
    color: #000;
    border-radius: 15px;
}
/* Header styling ends */
/* Hero styling starts */
.hero {
    text-align: center;
}

.hero img {
    width: 35%;
}
/* Hero styling ends */
/* Section styling starts */
section {
    display: flex;
    text-align: left;
    background: #36454f;
    color: #7fffd4;
    border: 5px solid;
}

section h3 {
    display: flex;
    align-items: center;
    padding: 35px;
    border-right: 5px solid #7fffd4;
    text-align: right;
}

section p {
    padding: 50px;
}
/* Section styling ends */