
/* Universal styling starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}
/* Universal styling ends */
/* Header styling starts */
/* Using flexbox property here to flex-wrap, h1 */
header {
    background-color: #36454f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 35px;
    border-bottom: 1px solid #7fffd4;
}

header h1 {
    font-size: 36px;
    color: #7fffd4;
}

header a {
    color: #7fffd4;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

/* Using flexbox property here to flex-wrap, nav ul*/
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: light;
    font-size: 1.5vw;
}

header nav ul li a:hover {
    background-color: #7fffd4;
    color: #000;
    border-radius: 15px;
}
/* Header styling ends */
/* Hero styling starts */
.hero {
    display: flex;
    justify-content: space-evenly;
}

.hero img {
    width: 50%;
}
/* Hero styling ends */
/* Description class styling starts */
.description {
    display: flex;
}

.description h3 {
    display: flex;
    border-right: 5px solid;
    text-align: right;
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
}

.description p {
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: 20px;
    line-height: 1.5;
}
/* Description class styling ends */
/* Works class styling starts */
.works {
    display: flex;
    margin: 20px;
}

.works h3 {
    display: flex;
    align-items: flex-start;
    padding: 20px 29px;
    border-right: 5px solid;
}

/* div class to make image clickable */
.first-work {
    background-image: url(../images/run-buddy-img.png);
    background-size: cover;
    background-position: 85%;
    width: 700px;
    height: 700px;
    margin: 0 35px;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first-work a {
    text-decoration: none;
    background: #36454f;
    color: #7fffd4;
    padding: 50px;
}